#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;

  height: 100vh;
  overflow: hidden;/*evita o transbordamento e rolagem da página*/
}

main {
  overflow: auto;/*ativa a rolagem no main*/
  padding: 4rem;/*64px de padding / pelos 16px do navegador*/
  

  & .main-container {
    max-width: 33rem;
    margin-left: auto;
  }
}

aside {
  background-color: var(--surface-secondary);
  padding: 4rem;

  & .aside-container {
    max-width: 31rem;
    margin-right: auto;
  }
}